<p id="notice"></p>
  <div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">About</h1>
  </div>
  </div>

<t>ながcakeは全国発送可能なケーキ屋さんです</t>
<t>お子様からお年寄りの方まで召し上がりいただけるよう、</t>
<t>さまざまなバリエーションを用意しております。</t>
<t>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</t>
<t>ぜひご注文ください。</t>