<div class="col-md-8 offset-md-1">
  <!--長さは後で調整８→４とか？-->
　<h2>ジャンル検索</h2>
  　<table class="table table-hover table-inverse">
    　<thead>
    　  <th></th>
    　</thead>

  　<tbody>
      <tr>
      　<th>ケーキ</th>
        <td><%=　item.name %></td>
      </tr>
      <tr>
        <th>焼き菓子</th>
        <td><%= item.name %></td>
      </tr>
      <tr>
        <th>プリン</th>
        <td><%= item.name %></td>
      </tr>
      <tr>
        <th>キャンディー</th>
        <td><%= item.name %></td>
      </tr>
    </tbody>
  </table>